.infobar{
    background: var(--color1);
    width: 100%;
    min-height: 4vh;
    color: white;
    display: inline-block;
    padding-top: 1vh;
}
.gameboard{
    position: relative;
    z-index: 0;
}

.infoitem{
    /* margin-left: 20px; */
    margin-right: 40px;
}
.basicButton{
    outline: none;
}
.touchnappi{
    width: 8%;
    height: 15%;
    border-radius: 10%;
    position: absolute; 
    display: none;
    outline: none;
    opacity: 0.3;
    background:white;
}
.ylos{
    top: 35%;
    left: 4%; 
}
.alas{
    top: 52%;
    left: 4%;      
}

@media  (max-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* mobileview, touchbuttons show up to ipad size */
.touchnappi{
    display: inline;
}
}
@media  (width: 1366px) and (height: 1024px) and (orientation: landscape) {
    /* ipad pro speacial case */
    .touchnappi{
        display: inline;
    }
    }
@media  (max-height: 420px) and (orientation: landscape) {
    /* small screen button layout and size adj. */
    .ylos{
    top: 25%;
    left: 6%;
    }
    .alas{
    top:55%;
    left: 6%;
    }
    .touchnappi{
    width: 13%;
    height: 30%; 
    }
    }